.selected {
  background-color: purple;
}
ul.question {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  border: 2px solid black;
  margin-bottom: 1rem;
}
ul.question li {
  padding: 0.25rem 0.5rem;
}
li.question-title {
  font-weight: bold;
  font-size: 1.5rem;
}
li.answer {
  margin-top: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-left: 1rem;
}
label {
  width: 400px;
  padding: 0.25rem 1rem;
  padding-bottom: 0.5rem;
  border-radius: 2px;
}
label:hover {
  background-color: red;
  cursor: pointer;
}
input[type='radio'] {
  visibility: hidden;
}
div.test {
  position: relative;
}
span.back-btn {
  position: absolute;
  right:-1rem;
  top: 0;
}
h1.test-title {
  text-align: center;
  margin: 1rem 0;
}
