.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.results-modal {
  background-color: #fff;
  width: 80%;
  max-width: 600px;
  min-height: 300px;
  padding: 1rem;
  z-index: 6;
  position: absolute;
  top: 25%;
  transform: translateY(-200%);
  transition: transform 0.5s ease-in;
}
.open-modal {
  transform: translateY(0);
}
.results-modal h1 {
  text-align: center;
}
.results-table {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: calc(12px + 1vmin);
  width: 100%;
}
.results-table td,
.results-table th {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
}
.results-table td:first-child {
  text-align: center;
}
.results-table tr:nth-child(2n) {
  background-color: #eee;
}
tr:hover {
  background-color: #bbb !important;
}
.results-table th {
  background-color: #129c30;
  color: #fff;
}
.results-table td {
  text-align: right;
}
span.close-btn {
  position: absolute;
  top: -2rem;
  right: 0;
}
.results-modal button:last-child {
  margin: 2rem auto;
}
